.container {
    display: grid;
    grid-template-columns: minmax(20vw, 30vw) minmax(70vw, 70vw);
    grid-template-rows: 10vh minmax(80vh, auto) 10vh;
  
    grid-template-areas:
      "navbar navbar"
      "side-menu main"
      "footer footer";
  
    background: linear-gradient(
      to right,
      var(--color-101010),
      var(--color-1E2122)
    );
  
    .nav {
      grid-area: navbar;
      background-color: var(--color-101010);
      position: fixed;
      width: 100vw;
      z-index: 99;
    }

    .side-menu {
      grid-area: side-menu;
    }

    .main {
      grid-area: main;
      margin: 20px;
    }

}