.container {
  display: grid;
  grid-template-columns:
    minmax(25vw, 35vw) minmax(40vw, 40vw) minmax(25vw, 30vw);
  grid-template-rows: 10vh minmax(70vh, auto) 10vh 10vh;

  grid-template-areas:
    "navbar navbar  navbar"
    "side box-inputs side-right"
    "side box-buttons side-right"
    "footer footer footer";

  background: linear-gradient(
    to right,
    var(--color-101010),
    var(--color-1E2122)
  );

  .nav {
    grid-area: navbar;
    background-color: var(--color-101010);
    position: fixed;
    width: 100vw;
    z-index: 99;
  }

  .box-inputs {
    grid-area: box-inputs;
    background-color: var(--color-1E2122);
    padding: 20px;
    margin: 10px 0px 10px 0px;
    border-radius: 23px;
    width: 40vw;
  }

  .box-buttons {
    grid-area: box-buttons;
    position: relative;
    background-color: var(--color-1E2122);
    padding: 20px;
    border-radius: 23px;
  }
}
